{{ $p := index .Params 0 }}
func {{.Name}}(tx *sqlite.Conn, {{$p.Column.Name}} {{gotype $p.Column.Type.Name}}) (error) {
  stmt := tx.Prep(`{{.Text}}`)
  defer stmt.Reset()

	stmt.Bind{{dbtype $p.Column.Type.Name}}(1, {{$p.Column.Name}})

  _, err := stmt.Step()
  if err != nil {
    return err
  }

  return nil
}