{{ $p := index .Params 0 }}

type {{.Name}}Out struct {
  {{- range .Columns}}
    {{camel .Name}} {{gotype .Type.Name}} `json:"{{.Name}}"`
  {{- end}}
}

func {{.Name}}(tx *sqlite.Conn, {{$p.Column.Name}} {{gotype $p.Column.Type.Name}}) (*{{.Name}}Out, error) {
  stmt := tx.Prep(`{{.Text}}`)
  defer stmt.Reset()

	stmt.Bind{{dbtype $p.Column.Type.Name}}(1, {{$p.Column.Name}})

  ok, err := stmt.Step()
  if err != nil {
    return nil, err
  }
  if !ok {
    return nil, sql.ErrNoRows
  }

	out := {{.Name}}Out{}
  {{- range $number, $col := .Columns}}
  {{- if eq (lower .Type.Name) "blob"}}
  out.{{camel .Name}} = []byte(stmt.ColumnText({{$number}}))
  {{- else if eq (lower .Type.Name) "any"}}
  out.{{camel .Name}} = []byte(stmt.ColumnText({{$number}}))
  {{- else}}
  out.{{camel .Name}} = stmt.Column{{dbtype .Type.Name}}({{$number}})
  {{- end}}
  {{- end}}

  return &out, nil
}
