{{if gt (len .Params) 1}}
type {{.Name}}In struct {
  {{- range .Params}}
    {{camel .Column.Name}} {{gotype .Column}} `json:"{{.Column.Name}}"`
  {{- end}}
}
{{end}}

func {{.Name}}(tx *sqlite.Conn {{inarg .Name .Params }}) (error) {
  stmt := tx.Prep(`{{.Text}}`)
  defer stmt.Reset()

  {{ $ps := .Params }}
  {{- range .Params}}
  stmt.Bind{{dbtype .Column.Type.Name}}({{.Number}}, {{bindval $ps .Number}})
  {{- end}}
  
  _, err := stmt.Step()
  if err != nil {
    return err
  }

  return nil
}